.prompt {
    border-color: var(--color-slate-700);
    border-radius: --spacing(0.75);
    border-style: solid;
    border-width: 2px;
    margin: 0;
    padding: 0;

    & .textarea {
        border-radius: 0;
        border-width: 0;
        min-height: max-content;
    }
}