.skeleton {
    animation: skeleton-pulse 1.5s infinite;
    background-color: var(--color-slate-800);
    border-radius: --spacing(1);
    height: 100%;
    width: 100%;
}

@keyframes skeleton-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}