.icon-wrapper {
    align-items: center;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    justify-content: center;

    &:not(:has(.icon-inline)) {
        background-color: var(--color-slate-800);
        border-radius: --spacing(1);
        height: var(--icon-container-size);
        width: var(--icon-container-size);
    }

    &:has(.icon-sm:not(.icon-inline)) {
        --icon-container-size: --spacing(6);
    }

    &:has(.icon-md:not(.icon-inline)) {
        --icon-container-size: --spacing(7);
    }
    
    &:has(.icon-lg:not(.icon-inline)) {
        --icon-container-size: --spacing(8);
    }

    &:has(.icon-xl:not(.icon-inline)) {
        --icon-container-size: --spacing(9);
    }
}

.icon {
    --icon-size: --spacing(4);
    display: inline-block;
    flex-shrink: 0;
    height: var(--icon-size);
    width: var(--icon-size);

    &.icon-sm {
        --icon-size: --spacing(3.5);
    }

    &.icon-md {
        --icon-size: --spacing(4);
    }

    &.icon-lg {
        --icon-size: --spacing(5);
    }

    &.icon-xl {
        --icon-size: --spacing(6);
    }
}