.tabs {
    display: flex;
    flex: 1;
    flex-direction: column;

    & .tabs-list {
        align-items: center;
        background-color: var(--color-slate-900);
        border-radius: --spacing(2);
        corner-shape: superellipse(2);
        display: flex;
        flex-direction: row;
        gap: --spacing(2);
        list-style: none;
        padding: --spacing(2.5);
        position: sticky;
        top: 0;
        z-index: 100;

        &.sticky {
            border-bottom: var(--border-width) solid var(--color-slate-800);
            border-radius: 0;
            box-shadow: inset 0 calc(var(--border-width) * -2) 0 calc(var(--border-width) * -1) var(--color-slate-950);
            corner-shape: none;
            margin-inline: --spacing(-4.5);
            padding-inline: --spacing(4.5);
        }

        & .tabs-trigger {
            align-items: center;
            border-bottom-color: transparent;
            border-bottom-style: solid;
            border-bottom-width: var(--border-width);
            border-radius: --spacing(2);
            corner-shape: superellipse(2);
            color: var(--color-slate-400);
            display: flex;
            flex-direction: row;
            gap: --spacing(2.5);
            font-size: --spacing(3.5);
            font-weight: 600;
            min-height: --spacing(10);
            padding-inline: --spacing(2.5);
            position: relative;
            user-select: none;

            &[aria-selected="true"] {
                background-color: var(--color-slate-800);
                color: var(--color-slate-100);
            }

            &:hover {
                color: var(--color-slate-100);
            }

            & .icon {
                color: var(--color-slate-400);
            }
        }
    }

    & .tabs-content {
        flex: 1;
        padding-top: --spacing(4.5);
    }
}