.tabs {
    display: flex;
    flex: 1;
    flex-direction: column;

    & > .sticky {
        background-color: var(--color-slate-950);
        flex-direction: row;
        margin-block: --spacing(-4.5);
        padding-block: --spacing(4.5);
    }

    & .tabs-list {
        flex: 1;

        & .surface-content {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: --spacing(1);
            padding: --spacing(1);
        }

        & .tabs-trigger {
            align-items: center;
            border-bottom-color: transparent;
            border-bottom-style: solid;
            border-bottom-width: var(--border-width);
            border-radius: calc(var(--border-radius-inner) - calc(--spacing(1) + var(--border-width-inner)));
            corner-shape: superellipse(2);
            color: var(--color-slate-400);
            display: flex;
            flex-direction: row;
            gap: --spacing(2.5);
            font-size: --spacing(3.5);
            font-weight: 600;
            min-height: --spacing(10);
            padding-inline: --spacing(2.5);
            position: relative;
            user-select: none;

            &[aria-selected="true"] {
                background-color: var(--color-slate-800);
                color: var(--color-slate-50);
            }

            &:hover {
                color: var(--color-slate-50);
            }

            & .icon {
                color: var(--color-slate-400);
            }
        }
    }

    & .tabs-content {
        flex: 1;
        padding-top: --spacing(4.5);
    }
}