@custom-media --breakpoint-2xl screen and (min-width: 1400px);
@custom-media --breakpoint-xl screen and (min-width: 1200px);
@custom-media --breakpoint-lg screen and (min-width: 992px);
@custom-media --breakpoint-md screen and (min-width: 768px);
@custom-media --breakpoint-sm screen and (min-width: 576px);

:root,
:host {
    --color-white: hsl(0 0% 100%);
    --color-black: hsl(0 0% 0%);

    --color-slate: #79797b;
    --color-slate-50: #f1f1f1;
    --color-slate-50: #e2e2e3;
    --color-slate-200: #c9c9ca;
    --color-slate-300: #aeaeaf;
    --color-slate-400: #939394;
    --color-slate-500: #79797b;
    --color-slate-600: #636365;
    --color-slate-700: #4b4b4d;
    --color-slate-800: #353536;
    --color-slate-900: #202021;
    --color-slate-950: #131314;

    --color-neutral: hsl(218 5% 50%);
    --color-zinc: hsl(240 4% 50%);

    --color-red: hsl(0 67.5% 50%);
    --color-orange: hsl(17 88% 50%);
    --color-amber: hsl(38 92% 50%);
    --color-yellow: hsl(50 93% 50%);
    --color-lime: hsl(83 78% 50%);
    --color-green: hsl(145 52% 50%);
    --color-emerald: hsl(160 84% 50%);
    --color-turquoise: hsl(168 52% 50%);
    --color-teal: hsl(173 80% 50%);
    --color-cyan: hsl(189 94% 50%);
    --color-sky: hsl(198 100% 50%);
    --color-blue: hsl(216 100% 50%);
    --color-navy: hsl(235 85% 50%);
    --color-indigo: hsl(241 60% 50%);
    --color-violet: hsl(262 83% 50%);
    --color-purple: hsl(271 80% 50%);
    --color-fuchsia: hsl(292 52.5% 50%);
    --color-pink: hsl(331 60% 50%);
    
    --color-primary: var(--color-yellow);
    --color-primary-foreground: var(--color-slate-950);

    @each $color in 
    neutral, zinc, red, orange, amber, yellow, lime,
    green, emerald, turquoise, teal, cyan, sky, blue, navy,
    indigo, violet, purple, fuchsia, pink, primary {
    @each $shade in 10, 20, 30, 40, 50, 60, 70, 80, 90 {
    --color-$(color)-$(shade)0: hsl(from var(--color-$(color)) h s calc(100% - $(shade)%));
    }
    }

    --sd-spacing: 0.25rem;

    --container-2xl: 1320px;
    --container-xl: 1140px;
    --container-lg: 960px;
    --container-md: 720px;
    --container-sm: 540px;

    --font-family-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.625rem;
    --radius-2xl: 0.75rem;
    --radius-3xl: 0.875rem;
    --radius-4xl: 1rem;

    --border-color: var(--color-slate-700);
    --border-color-inner: var(--color-slate-950);
    --border-width: 1px;
    --border-width-inner: calc(var(--border-width) * 2);
    --border-radius-inner: --spacing(4);
    --border-radius: calc(var(--border-radius-inner) + var(--border-width-inner));

    --surface-color-background: var(--color-slate-900);

    --sidebar-width: 300px;
}

:where(body) {
    background-color: var(--color-slate-950);
}