.character-card {
    aspect-ratio: 250 / 390;

    & .surface-content {
        padding: 0;
    }

    & .character-card-content {
        display: flex;
        flex-direction: column;
        inset: 0;
        justify-content: end;
        padding: --spacing(4.5);
        position: absolute;
        z-index: 1;

        & .character-card-badges {
            display: flex;
            flex-direction: row;
            gap: --spacing(2);
            justify-content: start;
            position: absolute;
            top: --spacing(4.5);
            left: --spacing(4.5);
        }

        & .character-card-info {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            gap: --spacing(2);
            justify-content: end;
            text-shadow: 0 0 8px rgba(from var(--color-slate-900) r g b / 0.5);
            user-select: none;
        }

        & p {
            color: var(--color-slate-100);
            font-size: --spacing(3.5);
            line-height: 1.25;
            margin-top: --spacing(2);
        }

        & .character-card-action {
            display: flex;
            flex: 0;
            opacity: 0;
            overflow: hidden;
            transition: flex 0.15s ease-out, opacity 0.15s ease-out;
            width: 100%;
            will-change: flex, opacity;

            & .button {
                flex: 1;
                justify-content: center;
                margin-top: --spacing(4.5);
            }
        }
    }

    & .image {
        inset: 0;
        position: absolute;
        z-index: 0;

        & img {
            scale: 1.01;
            transition: scale 0.15s ease-out;
            will-change: scale;
        }

        &::after {
            background-image: linear-gradient(to bottom, 
            rgba(from var(--color-slate-900) r g b / 0) 25%, 
            var(--color-slate-900));
            content: "";
            inset: 0;
            position: absolute;
            z-index: 2;
        }
    }

    &:hover,
    &:focus-within {
        & .image img {
            scale: 1.1;
        }

        & .character-card-action {
            flex: 0 0 auto;
            opacity: 1;
        }
    }
}