.header {
    background-color: var(--surface-color-background);
    border-bottom: var(--border-width) solid var(--border-color);
    box-shadow: inset 0 calc(var(--border-width-inner) * -1) 0 0 var(--border-color-inner);
    grid-area: header;
    padding-block: --spacing(4);
    padding-inline: --spacing(4.5);
    z-index: 100;

    & .header-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: 28px;
    }
}