.header {
    background-color: var(--color-slate-900);
    border-color: var(--color-slate-800);
    border-style: solid;
    border-width: 0 0 var(--border-width) 0;
    box-shadow: inset 0 calc(var(--border-width) * -2) 0 calc(var(--border-width) * -1) var(--color-slate-950);
    grid-area: header;
    padding-block: --spacing(4);
    padding-inline: --spacing(4.5);
    z-index: 100;

    & .header-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: 28px;
    }
}