.sidebar {
    background-color: var(--surface-color-background);
    max-width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    overflow: hidden;
    padding-inline: --spacing(4.5);

    &.sidebar-left {
        border-right: var(--border-width) solid var(--border-color);
        box-shadow: inset calc(var(--border-width-inner) * -1) 0 0 0 var(--border-color-inner);
        grid-area: sidebar-left;
    }

    &.sidebar-right {
        border-left: var(--border-width) solid var(--border-color);
        box-shadow: inset calc(var(--border-width-inner) * -1) 0 0 0 var(--border-color-inner);
        grid-area: sidebar-right;
    }

    & .sidebar-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: --spacing(4.5);
        height: 100%;
        overflow: hidden;
        padding-top: --spacing(4);

        & .sidebar-content {
            padding-top: 0;
        }
    }

    & .sidebar-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    & .sidebar-items {
        display: flex;
        flex-direction: column;
        gap: --spacing(2);
        position: relative;

        &.fill {
            flex: 1;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: --spacing(9);
                z-index: 1;
                background: linear-gradient(to bottom, transparent, var(--surface-color-background));
            }

            & .sidebar-items-list {
                overflow: auto;
                scrollbar-width: none;
            }
        }

        & .sidebar-items-title {
            color: var(--color-slate-400);
            text-transform: uppercase;
            font-size: --spacing(2.5);
            font-weight: 700;
            padding-inline: --spacing(2.5);
            user-select: none;
        }

        & .sidebar-items-list {
            display: flex;
            flex: 1;
            flex-direction: column;
            list-style: none;
        }
    }

    & .sidebar-footer {
        border-top: var(--border-width) solid var(--color-slate-950);
        box-shadow: inset 0 var(--border-width) 0 0 var(--color-slate-800);
        display: flex;
        flex-direction: column;
        gap: --spacing(2);
        padding-block: --spacing(4);

        & .sidebar-footer-links {
            align-items: center;
            display: flex;
            font-size: --spacing(2.5);
            gap: --spacing(4.5);
            justify-content: space-between;

            & a {
                color: var(--color-slate-400);
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}
