.sidebar {
    background-color: var(--color-slate-900);
    border-color: var(--color-slate-800);
    border-style: solid;
    min-width: var(--sidebar-width);
    overflow: clip;
    padding-inline: --spacing(4.5);

    &.sidebar-left {
        border-width: 0 var(--border-width) 0 0;
        box-shadow: inset calc(var(--border-width) * -2) 0 0 calc(var(--border-width) * -1) var(--color-slate-950);
        grid-area: sidebar-left;
    }

    &.sidebar-right {
        border-width: 0 0 0 var(--border-width);
        box-shadow: inset calc(var(--border-width) * 2) 0 0 calc(var(--border-width) * -1) var(--color-slate-950);
        grid-area: sidebar-right;
    }

    & .sidebar-content {
        padding-top: --spacing(4);
        flex-direction: column;
        gap: --spacing(4.5);
        display: flex;
        height: 100%;

        & .sidebar-content {
            padding-top: 0;
        }
    }

    & .sidebar-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    & .sidebar-items {
        display: flex;
        flex-direction: column;
        gap: --spacing(2);

        & .sidebar-items-title {
            color: var(--color-slate-400);
            text-transform: uppercase;
            font-size: --spacing(2.5);
            font-weight: 700;
            padding-inline: --spacing(2.5);
            user-select: none;
        }

        & .sidebar-items-list {
            display: flex;
            flex-direction: column;
            list-style: none;
        }
    }

    & .sidebar-footer {
        border-top: var(--border-width) solid var(--color-slate-950);
        box-shadow: inset 0 var(--border-width) 0 0 var(--color-slate-800);
        display: flex;
        flex-direction: column;
        gap: --spacing(2);
        padding-block: --spacing(4);

        & .sidebar-footer-links {
            align-items: center;
            display: flex;
            font-size: --spacing(2.5);
            gap: --spacing(4.5);
            justify-content: space-between;

            & a {
                color: var(--color-slate-400);
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}
