.button {
    border-radius: --spacing(2);
    corner-shape: superellipse(2);
    display: inline-grid;
    overflow: clip;
    padding-block: --spacing(0.5);
    text-align: center;
    user-select: none;
    transition-duration: 0.2s;
    transition-property: background-color, border-color, color;
    transition-timing-function: ease-out;
    vertical-align: middle;
    will-change: background-color, border-color, color;

    &:not(.is-link) {
        text-decoration: none;
    }

    &.button-outline {
        border: var(--border-width) solid transparent;
    }

    &.button-primary {
        &.button-solid {
            background-color: var(--color-primary);
            color: var(--color-primary-foreground);
        }
    }

    &.button-secondary {
        &.button-solid {
            background-color: var(--color-secondary);
            color: var(--color-secondary-foreground);
        }

        &.button-outline {
            border-color: var(--color-slate-800);
            color: var(--color-secondary);

            &:hover {
                background-color: var(--color-slate-800);
            }
        }

        &.button-ghost {
            background-color: transparent;
            color: var(--color-secondary);

            &:hover {
                background-color: var(--color-slate-800);
            }
        }
    }

    & .button-inner {
        align-items: center;
        display: flex;
        font-size: --spacing(3.5);
        font-weight: 600;
        gap: --spacing(2.5);
        justify-content: start;
        line-height: 1;
        min-height: --spacing(9);
        padding-inline: --spacing(2.5);
        pointer-events: none;
        transition-duration: inherit;
        transition-property: inherit;
        transition-timing-function: inherit;
    }
}