.image {
    max-inline-size: none;
    overflow: hidden;
    position: relative;

    & img,
    & .skeleton {
        grid-area: image;
        height: 100%;
        transition: opacity 0.2s ease-out;
        width: 100%;
    }

    & img {
        content-visibility: none;
        object-fit: cover;
        opacity: 0;
        position: relative;
        scale: 1;
        transition: opacity 0.2s ease-out, content-visibility 0.2s allow-discrete;
        will-change: opacity, content-visibility;
        z-index: 1;
    }

    & .skeleton {
        position: absolute;
        inset: 0;
        z-index: 0;
    }

    &[data-loading="false"] {
        & img {
            content-visibility: visible;
            opacity: 1;
        }
    }
}