.image {
    max-inline-size: none;
    overflow: hidden;
    place-content: center;
    position: relative;

    & img,
    & .skeleton {
        grid-area: image;
        transition: opacity 0.2s ease-out;
    }

    & img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
        scale: 1;
        z-index: 1;
    }

    &[data-loading="true"] {
        & img {
            animation: fade-in 0.2s ease-out;
        }
    }
}